In [ ]:
#домашнее задание по работе с pandas. Найти русский датасет, вывести хед и тейл, сделать фильтрацию.

In [1]:
import pandas as pd

In [4]:
#!pip install kagglehub
import kagglehub

# сукачивание последней версии датасета
path = kagglehub.dataset_download("rai220/russian-cyrillic-names-and-sex")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/rai220/russian-cyrillic-names-and-sex?dataset_version_number=1...

100%|██████████████████████████████████████████████████████████████████████████████| 55.1M/55.1M [01:57<00:00, 492kB/s]

Extracting files...

Path to dataset files: C:\Users\akush\.cache\kagglehub\datasets\rai220\russian-cyrillic-names-and-sex\versions\1

In [3]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.10-py3-none-any.whl (63 kB)
Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (from kagglehub) (4.64.0)
Requirement already satisfied: pyyaml in d:\anaconda\lib\site-packages (from kagglehub) (6.0)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from kagglehub) (21.3)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from kagglehub) (2.27.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging->kagglehub) (3.0.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in d:\anaconda\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests->kagglehub) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->kagglehub) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->kagglehub) (2021.10.8)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from tqdm->kagglehub) (0.4.4)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.10

In [8]:
#открыть датасет
path = r"C:\Users\akush\.cache\kagglehub\datasets\rai220\russian-cyrillic-names-and-sex\versions\1\data.csv"
df = pd.read_csv(path)
print(df.head)

<bound method NDFrame.head of             АБАБИЙ     АНДРЕЙ     ВАСИЛЬЕВИЧ  М
0         АБАБИЛОВ    ДМИТРИЙ     НИКОЛАЕВИЧ  М
1         АБАБИЛОВ   ВЛАДИМИР       ИВАНОВИЧ  М
2         АБАБИЛОВ     СЕРГЕЙ       ИВАНОВИЧ  М
3         АБАБИЛОВ       ЮРИЙ   ВЛАДИМИРОВИЧ  М
4         АБАБИЛОВ    АЛЕКСЕЙ     НИКОЛАЕВИЧ  М
...            ...        ...            ... ..
6228602     ИЩЕНКО       МАЙЯ  АННАДУРДЫЕВНА  Ж
6228603  КОСТЮШИНА    НАТАЛИЯ   ВЯЧЕСЛАВОВНА  Ж
6228604  КАСАТКИНА    ТАТЬЯНА   ВЛАДИМИРОВНА  Ж
6228605  МАКСАКОВА     ГАЛИНА     ГЕОРГИЕВНА  Ж
6228606  БЫКОВСКАЯ  ЕКАТЕРИНА   ВЛАДИМИРОВНА  Ж

[6228607 rows x 4 columns]>

In [9]:
print(df.tail)

<bound method NDFrame.tail of             АБАБИЙ     АНДРЕЙ     ВАСИЛЬЕВИЧ  М
0         АБАБИЛОВ    ДМИТРИЙ     НИКОЛАЕВИЧ  М
1         АБАБИЛОВ   ВЛАДИМИР       ИВАНОВИЧ  М
2         АБАБИЛОВ     СЕРГЕЙ       ИВАНОВИЧ  М
3         АБАБИЛОВ       ЮРИЙ   ВЛАДИМИРОВИЧ  М
4         АБАБИЛОВ    АЛЕКСЕЙ     НИКОЛАЕВИЧ  М
...            ...        ...            ... ..
6228602     ИЩЕНКО       МАЙЯ  АННАДУРДЫЕВНА  Ж
6228603  КОСТЮШИНА    НАТАЛИЯ   ВЯЧЕСЛАВОВНА  Ж
6228604  КАСАТКИНА    ТАТЬЯНА   ВЛАДИМИРОВНА  Ж
6228605  МАКСАКОВА     ГАЛИНА     ГЕОРГИЕВНА  Ж
6228606  БЫКОВСКАЯ  ЕКАТЕРИНА   ВЛАДИМИРОВНА  Ж

[6228607 rows x 4 columns]>

In [10]:
#фильтрация 1: выбор колонок
df.filter(items=['АБАБИЙ'])

            АБАБИЙ
0         АБАБИЛОВ
1         АБАБИЛОВ
2         АБАБИЛОВ
3         АБАБИЛОВ
4         АБАБИЛОВ
...            ...
6228602     ИЩЕНКО
6228603  КОСТЮШИНА
6228604  КАСАТКИНА
6228605  МАКСАКОВА
6228606  БЫКОВСКАЯ

[6228607 rows x 1 columns]

In [22]:
#фильтрация 2: По содержанию столбцов
df[df.АБАБИЙ.str.contains('АБАБ', na=False)]

             АБАБИЙ    АНДРЕЙ     ВАСИЛЬЕВИЧ  М
0          АБАБИЛОВ   ДМИТРИЙ     НИКОЛАЕВИЧ  М
1          АБАБИЛОВ  ВЛАДИМИР       ИВАНОВИЧ  М
2          АБАБИЛОВ    СЕРГЕЙ       ИВАНОВИЧ  М
3          АБАБИЛОВ      ЮРИЙ   ВЛАДИМИРОВИЧ  М
4          АБАБИЛОВ   АЛЕКСЕЙ     НИКОЛАЕВИЧ  М
...             ...       ...            ... ..
6182668  ЗАБАБУРИНА     ОЛЬГА  АЛЕКСАНДРОВНА  Ж
6212080   ЗАБАБУРИН    АНДРЕЙ    ГЕННАДЬЕВИЧ  М
6213422  ЗАБАБУРИНА  СВЕТЛАНА  АЛЕКСАНДРОВНА  Ж
6214737   ЗАБАБУРИН   АЛЕКСЕЙ  АЛЕКСАНДРОВИЧ  М
6228309    АБАБИЛОВ  ВЛАДИМИР       ИВАНОВИЧ  М

[376 rows x 4 columns]